table{
	border-collapse: collapse;
	width: 100%;
}

/*
table, th, td{
	border: 1px solid black;
	text-align: left;
}

th, td{
	padding: 15px;
}
*/

th, td{
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid grey;
}

/*
tr:hover {
	background-color: #ddd;
}
*/

tr:nth-child(even){
	background-color: #ddd;
}

th{
	background-color: #4caf55;
	color: white;
}

li{
	display: inline;
}


.hide{
/*	display: none; */
	visibility: hidden;
}